<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Info</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>

<h2>Youtube Crawler</h2>

<form action="/upload" method="POST">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" value=""><br>
  <label for="search_str">Youtube Video:</label><br>
  <input type="text" id="search_str" name="search_str" value=""><br>
  <label for="number">Number of videos:</label><br>
  <input type="number" id="number" name="Number of videos" value=""><br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>

